:root {
  --primary-color: #181818;
  --secondary-color: #151515;
  --primary-font: sans-serif;
  --primary-font-color: #c7c7c7;
}

*{
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  color: var(--primary-font-color);
}

nav {
  height: auto;
  background: var(--secondary-color);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.465);
  backdrop-filter: blur(5px);
  overflow: hidden;
}

nav li {
  list-style: none;
  margin: 5px;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 5px;
  font-family: var(--primary-font);
  background: var(--secondary-color);
}

.container {
  margin: -5px 10px;
  background: var(--secondary-color);
}

.logo {
  font-family: var(--primary-font);
  background: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  nav a {
    float: none;
    display: block;
    width: auto;
    text-align: left;
  }
}